<footer>
    <!-- left -->
    <div id="left-footer">
        <!-- link -->
        <span class="footer-link">
            <a href="#"> 이용약관 </a> |
            <a href="#"> 개인정보처리방침 </a> |
            <a href="#"> 윤리강령 </a> |
            <a href="#"> 환자의 권리와 의무 </a> |
            <a href="#"> 이메일 무단수집거부 </a>
        </span>
        <!-- 주소 -->
        <address> [우 : 11759] 경기도 의정부시 동일로 712 의정부을지대학교병원 </address>
        <!-- copyright -->
        <p class="copyright"> Copyright ⓒ 2024 SJS All Rights Reserved. Designed by SHINJISOO. </p>
    </div>

    <!-- right -->
    <div id="right-footer">
        <!-- family site dropdown -->
        <form method="GET" action="" id="FamilySite">
            <label for="FamilySite"></label>
            <select name="FamilySite" id="FamilySite">
                <option value="site" disabled selected> Family Site 바로가기 </option>
                <option value="euljiedu">
                    <a href="https://www.euljiedu.net/" target="_blank">
                        을지인력개발원
                    </a>
                </option>
                <option value="bumsuk">
                    <a href="https://www.bumsuk.or.kr/" target="_blank">
                        범석학술장학재단
                    </a>
                </option>
                <option value="ilhyunmuseum">
                    <a href="http://www.ilhyunmuseum.or.kr/" target="_blank">
                        일현미술관
                    </a>
                </option>
            </select>
        </form>
    </div>
</footer>