<!-- header 영역 -->
<header>
    <div id="FamilyLink01">
        <span>
            <a href="https://www.eulji.net/" target="_blank">을지재단</a>
        </span>
        <span> &nbsp; | &nbsp; </span>
        <span>
            <a href="https://www.eulji.ac.kr/" target="_blank">을지대학교</a>
        </span>
        <span> &nbsp; | &nbsp; </span>
        <span>
            <a href="https://www.eulji.or.kr/index.jsp" target="_blank">노원을지대학교병원</a>
        </span>
        <span> &nbsp; | &nbsp; </span>
        <span>
            <a href="https://www.emc.ac.kr/index.jsp" target="_blank">대전을지대학교병원</a>
        </span>
        <span> &nbsp; | &nbsp; </span>
        <span>
            <a href="https://gangnam.eulji.or.kr/index.jsp" target="_blank">강남을지대학교병원</a>
        </span>
        <span> &nbsp; | &nbsp; </span>
        <span>
            <a href="https://uemc.ac.kr/index.jsp" target="_blank">의정부을지대학교병원</a>
        </span>
    </div>
    <div id="logo">
        <a href="/">
            <img src="/img/logo.png" alt="EMC_LOGO" class="logo" width="400">
        </a>
    </div>

    <!-- navbar 영역 -->
    <nav>
        <div id="search">
            <input class="search" placeholder=" 검색어를 입력하세요">
            <button class="search-send">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </a>
            </button>
        </div>

        <div id="userIn">
            <span style="font-weight:600; color:#94adc5;"> 직원 전용 &nbsp; </span>
            <span class="signup"> <a href="/signup"> 회원가입 </a></span>
            <span> &nbsp; | &nbsp;</span>
            <span class="login"> <a href="/login"> 로그인 </a></span>
        </div>

        <div id="userOut">
            <span class="logout"> <a href="/login/logout"> 로그아웃 </a></span>
            <span> &nbsp; | &nbsp;</span>
            <span class="management"> <a href="/management"> 빈소현황 관리 </a></span>
        </div>
    </nav>
</header>

<!-- menu 영역 -->
<ul id="menu">
    <li class="mainmenu">
        <a href="/euljifuneral/introduce"> 장례식장 소개 </a>
        <ul class="submenu">
            <li>
                <a href="/euljifuneral/introduce"> 장례식장 소개 </a>
            </li>
            <li>
                <a href="/euljifuneral/director"> 장례지도사 소개 </a>
            </li>
            <li>
                <a href="/euljifuneral/traffic"> 오시는 길 </a>
            </li>
            <li>
                <a href="/euljifuneral/info"> 장례식장 이용안내 </a>
            </li>
        </ul>
    </li>
    <li class="mainmenu">
        <a href="/euljifuneral/process"> 장례식장 이용절차 </a>
        <ul class="submenu">
            <li>
                <a href="/euljifuneral/process"> 장례절차 </a>
            </li>
            <li>
                <a href="/euljifuneral/service"> 장례서비스 </a>
            </li>
        </ul>
    </li>
    <li class="mainmenu">
        <a href="#"> 빈소현황 및 조문 </a>
        <ul class="submenu">
            <li>
                <a href="/euljifuneral/status"> 빈소현황 </a>
            </li>
            <li>
                <a href="#"> 조문하기 </a>
            </li>
        </ul>
    </li>
    <li class="mainmenu">
        <a href="/euljifuneral/info"> 감사인사 전하기 </a>
        </ul>
    </li>
</ul>

