<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 의정부 을지대병원 장례식장 </title>
    <link rel="shortcut icon" href="/img/emc.jpg">
    <link rel="stylesheet" href="/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div id="Wrap">
        <%-include('header.ejs') %>

        <!-- main 영역 -->
        <main>
            <div id="bg-opacity"></div>
            <!-- main 01 - 빈소 현황 -->
            <section id="section01">
                <div id="situation01">
                    <p class="situation-title01"> 빈소 현황 </p>
                    <div class="room_info">
                        <table>
                            <tr class="room-infoname">
                                <th scope="col"> 빈소 </th>
                                <th scope="col"> 고인명 </th>
                                <th scope="col"> 상주명 </th>
                                <th scope="col"> 발인일자 </th>
                                <th scope="col"> 장지 </th>
                            </tr>
                            <tr>
                                <td> 호실 </td>
                                <td> 누구누구 </td>
                                <td> 누구누구 </td>
                                <td> 언제언제 </td>
                                <td> 어디어디 </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="situation02">
                    <a href="#"> >> 빈소현황 자세히 보기 </a>
                </div>
            </section>

            <!-- main 02 - 감사인사 및 조문하기 -->
            <section id="section02">
                <div><a href="#"> 감사인사 전하기 </a></div>
                <div><a href="#"> 조문하기 </a></div>
            </section>

            <!-- main 03 - 장례식장 문의전화 -->
            <section id="section03">
                <div id="call">
                    <img src="/img/Call.png" alt="Call" class="call">
                    <div class="call-content">
                        <p> 장례식장 문의전화 </p>
                        <p> 031) 951-7444 </p>
                        <p> 031) 951-7414 </p>
                    </div>
                </div>
            </section>
        </main>

        <!-- footer 영역 -->
        <%-include('footer.ejs') %>
    </div>

    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>