<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 의정부을지대병원 장례식장 </title>
    <link rel="shortcut icon" href="/img/emc.jpg">
    <link rel="stylesheet" href="/public/main.css">
</head>

<body>
    <!-- Header -->
    <header>
        <!-- family link -->
        <div id="FamilyLink01">
            <span>
                <a href="https://www.eulji.net/" target="_blank">을지재단</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.eulji.ac.kr/" target="_blank">을지대학교</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.eulji.or.kr/index.jsp" target="_blank">노원을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.emc.ac.kr/index.jsp" target="_blank">대전을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://gangnam.eulji.or.kr/index.jsp" target="_blank">강남을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://uemc.ac.kr/index.jsp" target="_blank">의정부을지대학교병원</a>
            </span>
        </div>

        <!-- logo -->
        <div id="logo">
            <a href="#">
                <img src="/img/logo.png" alt="EMC_LOGO" class="logo">
            </a>
        </div>


        <!-- navbar -->
        <nav>
            <!-- 검색 기능 -->
            <div id="search">
                <input class="search">
                <button class="search-send">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </a>
                </button>
            </div>
        </nav>
    </header>

    <!-- menu -->
    <ul class="menu">
        <li class="mainmenu">
            <a href="/views/sub_introduce.html"> 장례식장 소개 </a>
            <ul class="submenu">
                <li><a href="/views/sub_introduce.html"> 장례식장 소개 </a></li>
                <li><a href="/views/sub_fd.html"> 장례지도사 소개 </a></li>
                <li><a href="/views/sub_facilities.html"> 오시는 길 </a></li>
            </ul>
        </li>
        <li class="mainmenu">
            <a href="/views/sub_process.html"> 장례식장 이용절차 </a>
            <ul class="submenu">
                <li><a href="/views/sub_process.html"> 장례절차 </a></li>
                <li><a href="/views/sub_service.html"> 장례서비스 </a></li>
            </ul>
        </li>
        <li class="mainmenu">
            <a href="#"> 빈소현황 및 조문 </a>
            <ul class="submenu">
                <li><a href="/views/sub_Status.html"> 빈소현황 </a></li>
                <li><a href="/views/sub_condolence.html"> 조문하기 </a></li>
            </ul>
        </li>
        <li class="mainmenu">
            <a href="/views/sub_thank.html"> 감사인사 전하기 </a>
        </li>
    </ul>

    <!-- Main -->
    <main>
        <!-- 빈소현황 -->
        <section>
            <div id="situation">

                <p class="situation-title01"> 빈소 현황 </p>

                <div class="room_info">
                    <table>
                        <tr class="room-infoname">
                            <th scope="col"> 빈소 </th>
                            <th scope="col"> 고인명 </th>
                            <th scope="col"> 상주명 </th>
                            <th scope="col"> 발인일자 </th>
                            <th scope="col"> 장지 </th>
                        </tr>
                        <tr>
                            <td> 호실 </td>
                            <td> 누구누구 </td>
                            <td> 누구누구 </td>
                            <td> 언제언제 </td>
                            <td> 어디어디 </td>
                        </tr>
                    </table>
                </div>
            </div>

            <p><a href="#"> > 빈소현황 자세히 보기 </a></p>

        </section>


        <!-- 감사인사 및 조문하기 -->
        <section>
            <div><a href="#"> 감사인사 전하기 </a></div>
            <div><a href="#"> 조문하기
                </a>
            </div>
        </section>

        <!-- 장례식장 문의전화 -->
        <section>
            <div id="call">
                <img src="/img/Call.png" alt="Call" class="call">
                <div class="call-content">
                    <p> 장례식장 문의전화 </p>
                    <p> 031) 951-7444 </p>
                    <p> 031) 951-7414 </p>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <!-- left -->
        <div id="left-footer">
            <!-- link -->
            <span class="footer-link">
                <a href="#"> 이용약관 </a> |
                <a href="#"> 개인정보처리방침 </a> |
                <a href="#"> 윤리강령 </a> |
                <a href="#"> 환자의 권리와 의무 </a> |
                <a href="#"> 이메일 무단수집거부 </a>
            </span>
            <!-- 주소 -->
            <address> [우 : 11759] 경기도 의정부시 동일로 712 의정부을지대학교병원 </address>
            <!-- copyright -->
            <p class="copyright"> Copyright ⓒ 2024 SJS All Rights Reserved. Designed by SHINJISOO. </p>
        </div>

        <!-- right -->
        <div id="right-footer">
            <!-- family site dropdown -->
            <form method="GET" action="" id="FamilySite">
                <label for="FamilySite"></label>
                <select name="FamilySite" id="FamilySite">
                    <option value="" disabled selected> Family Site 바로가기 </option>
                    <option value="euljiedu">
                        <a href="https://www.euljiedu.net/" target="_blank">
                            을지인력개발원
                        </a>
                    </option>
                    <option value="bumsuk">
                        <a href="https://www.bumsuk.or.kr/" target="_blank">
                            범석학술장학재단
                        </a>
                    </option>
                    <option value="ilhyunmuseum">
                        <a href="http://www.ilhyunmuseum.or.kr/" target="_blank">
                            일현미술관
                        </a>
                    </option>
                </select>
            </form>
        </div>
    </footer>
</body>

</html>