<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 직원전용 회원가입 | 의정부 을지병원 장례식장 </title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/signup.css">
</head>

<body>
    <div id="Wrap">
        <a href="/">
            <img src="/img/emc.jpg" alt="emc" width="110" class="logo">
        </a>
        <div id="signup">
            <p id="title"> 회원가입 </p>
            <form action="" method="POST">
                <div id="ID">
                    <!-- 아이디 -->
                    <label for="user-id"> 아이디 </label>
                    <br>
                    <!-- required : 필수 입력 필드 지정 -->
                    <input type="text" id="user-id" name="user-id" required>

                    <!-- 아이디 확인 -->
                    <div id="ID-check">
                        <button id="idCheck" type="button"> 아이디 확인 </button>
                    </div>
                </div>

                <div id="PW">
                    <!-- 비밀번호 -->
                    <label for="password"> 비밀번호 </label>
                    <br>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <!-- 비밀번호 확인 -->
                    <label for="password02"> 비밀번호 확인 </label>
                    <br>
                    <input type="password" id="password02" name="password02" required>

                    <!-- 비밀번호 확인 버튼 -->
                    <div id="PW-check">
                        <button id="pwCheck" type="button"> 비밀번호 확인 </button>
                    </div>
                </div>

                <div id="nameForm">
                    <!-- 사용자 이름 -->
                    <label for="name"> 이름 </label>
                    <br>
                    <input type="text" id="name" name="name" required>
                </div>

                <div id="birthForm">
                    <!-- 생년월일 -->
                    <label for="birth"> 생년월일</label>
                    <br>
                    <select name="birth" id="birth">
                        <option disabled selected class="birth"> 출생 연도 </option>
                    </select>
                    <select name="month" id="month">
                        <option disabled selected> 월 </option>
                    </select>
                    <select name="day" id="day">
                        <option disabled selected> 일 </option>
                    </select>
                </div>

                <div id="numForm">
                    <!-- 전화번호 -->
                    <label for="num"> 전화번호 </label>
                    <br>
                    <input type="text" id="num01" name="num" required>
                    -
                    <input type="text" id="num02" name="num" required>
                    -
                    <input type="text" id="num03" name="num" required>
                </div>

                <div id="emailForm">
                    <!-- email -->
                    <label for="email01"> 이메일 </label>
                    <br>
                    <input type="text" id="email01" name="email01" required>
                    <span> @ </span>
                    <select name="email02" id="email02">
                        <option disabled selected> E-mail </option>
                        <option value="naver.com"> naver.com </option>
                        <option value="gmail.com"> gmail.com </option>
                        <option value="daum.net"> daum.net </option>
                        <option value="nate.com"> nate.com </option>
                        <option value="text"> 직접 입력하기 </option>
                    </select>
                </div>

                <div id="e-numForm">
                    <!-- 사원번호 -->
                    <label for="e-num"> 사원번호 </label>
                    <br>
                    <input type="text" id="e-num" name="e-num" required>

                    <!-- 사원번호 확인 버튼 -->
                    <div id="enum-Check">
                        <button id="e-numCheck" type="button"> 사원번호 확인 </button>
                    </div>
                </div>
                <div id="signup-check"></div>
                <button type="submit" id="signupCheck">
                    가입하기
                </button>
            </form>
        </div>
    </div>

    <script src="/public/js/signup.js" type="text/javascript"></script>
</body>

</html>