<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 의정부을지대병원 장례식장 </title>
    <link rel="shortcut icon" href="/img/emc.jpg">
    <link rel="stylesheet" href="/public/sub_process.css">

</head>

<body>
    <!-- Header -->
    <header>
        <!-- family link -->
        <div id="FamilyLink01">
            <span>
                <a href="https://www.eulji.net/" target="_blank">을지재단</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.eulji.ac.kr/" target="_blank">을지대학교</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.eulji.or.kr/index.jsp" target="_blank">노원을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.emc.ac.kr/index.jsp" target="_blank">대전을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://gangnam.eulji.or.kr/index.jsp" target="_blank">강남을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://uemc.ac.kr/index.jsp" target="_blank">의정부을지대학교병원</a>
            </span>
        </div>

        <!-- logo -->
        <a href=""><img src="/img/logo.png" alt="EMC_LOGO" id="logo"></a>

        <!-- navbar -->
        <nav>
            <!-- 검색 기능 -->
            <div id="search">
                <input class="search">
                <button class="search-send">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </a>
                </button>
            </div>
        </nav>

        <!-- menu -->
        <div id="menu">
            <ul class="mainmenu">
                <li> <a href="#"> 장례식장 소개 </a>
                    <ul class="submenu">
                        <li><a href="#"> 장례식장 소개</a></li>
                        <li><a href="#"> 장례지도사 소개</a></li>
                        <li><a href="#"> 오시는 길</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"> 장례 이용절차 </a>
                    <ul class="submenu">
                        <li><a href="#"> 장례절차</a></li>
                        <li><a href="#"> 장례서비스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"> 빈소현황 및 조문 </a>
                    <ul class="submenu">
                        <li><a href="#"> 빈소현황 </a></li>
                        <li><a href="#"> 조문하기 </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"> 감사인사 및 문의 </a>
                    <ul class="submenu">
                        <li><a href="#"> 감사인사 전하기 </a></li>
                        <li><a href="#"> 문의하기 </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <!-- Main -->
    <main>
        <div id="title">
            장례절차
        </div>

        <ul id="Process">
            <li id="basicbox01">
                <!-- 장례 준비 시 준비 서류 -->
                <div class="basicbox basic01">
                    <p class="basic_title title01"> 장례 진행 시 준비 서류 </p>
                    <p class="basic_border"></p>
                    <table id="basicbox01">
                        <tr>
                            <td colspan="3"> 사망 장소에 따른 준비 서류 </td>
                        </tr>
                        <tr>
                            <td> 사망진단서(원내사망자) </td>
                            <td> 사체검안서(자택 및 요양원)</td>
                            <td> 검사지휘서(외인사 및 기타 및 불상 진단 시) </td>
                        </tr>
                        <tr>
                            <td colspan="3"> 신분 확인 서류 </td>
                        </tr>
                        <tr>
                            <td> 지역주민에 한해 해당 </td>
                            <td> 화장 시 국가유공자에 한해 해당 </td>
                            <td> 화장 시 지역주민에 한해 해당 </td>
                        </tr>
                        <tr>
                            <td> 주민등록등본 </td>
                            <td> 국가유공자증 </td>
                            <td>기초생활수급자증</td>
                        </tr>
                    </table>
                </div>
                <!-- 상주님 준비사항 -->
                <div class="basicbox basic02">
                    <p class="basic_title title02"> 상주님 준비사항 </p>
                    <p class="basic_border"></p>
                    <table id="basicbox02">
                        <tr>
                            <td> 가족과 장례일정 및 장례방법 논의 </td>
                            <td> 예복 대여 </td>
                            <td> 빈소 기본 물품 차림(식당, 편의점)</td>
                        </tr>
                        <tr>
                            <td> 제단장식(꽃집) </td>
                            <td> 영정사진(사진확대) </td>
                            <td> 사망진단서 7부 이상 </td>
                        </tr>
                        <tr>
                            <td> 제사상 차림 결정 </td>
                            <td> 입관시간 결정 </td>
                            <td> 장례용품(관, 수의) 상담 및 결정 </td>

                        </tr>
                        <tr>
                            <td> 화장, 매장 결정 </td>
                            <td> 장지결정 및 장의차량(캐딜락, 장의버스계약) </td>
                        </tr>
                    </table>
                </div>

                <!-- 협조사항 -->
                <div class="basicbox basic03">
                    <p class="basic_title title03"> 협조사항 </p>
                    <p class="basic_border"></p>
                    <h5>장례식장은 고인의 넋을 기리는, 숭고하고 엄숙한 자리입니다.
                        경건한 장례의식 진행을 위하여 다음 사항을 부탁드립니다.
                    </h5>
                    <p> 의정부을지대학교병원 장례식장은 전지역을 금연구역으로 지정하고 있으니 많은 협조 바랍니다. </p>
                    <p> 고인이 안치된 후 직원의 동의 없이 안치실에 출입할 수 없으며, 입관시간 외에는 시신을 다른 장소로 이동할 수 없습니다. </p>
                    <p> 장례에 소요된 모든 비용(협력업체 비용 별도계산)은 관리사무실에서 정산합니다. </p>
                    <p> 외부장의업체의 영업활동에 유의하시고, 거동이 수상한 사람은 장례식장 직원에게 신고해 주시기 바랍니다. </p>
                    <p> 귀중품 보관에 유의하시고 필요한 경우 관리사무실에 맡겨 주시기 바랍니다. </p>
                </div>
            </li>

            <!-- 1일차 -->
            <li id="basicbox">
                <p class="basic_title"> 1일차 </p>
                <p class="basic_border"></p>
                <div>
                    <div>
                        <h3> 임종 </h3>
                        <p>본원, 자택이나 타 병원에서 돌아가신 경우 고인을 장례식장으로 모십니다.</p>
                        <p>고인 신분증, 영정사진 지참</p>
                    </div>
                    <div>
                        <h3> 안치 </h3>
                        <p>유족들과 동행하여 장례지도사가 안치 수칙에 따라 모십니다.</p>
                    </div>
                    <div>
                        <h3> 상담 </h3>
                        <ul>
                            <li> 빈소결정 </li>
                            <span> 유족과 조문객을 감안하여 결정합니다. </span>
                            <li> 장례식장 임대차 계약서 작성 </li>
                            <li> 장례용품 주문서 작성(수의, 관 등)</li>
                            <li> 이용안내 및 장례상담 </li>
                            <li> 고인 메이크업 상담</li>
                            <span> 고인의 생전 모습처럼 마지막을 기억할 수 있도록 합니다. </span>
                        </ul>
                    </div>
                </div>
            </li>

            <!-- 2일차 -->
            <li id="basicbox">
                <p class="basic_title"> 2일차 </p>
                <p class="basic_border"></p>
                <div>
                    <div>
                        <h3> 입관 </h3>
                        <h5>입관시간 확인</h5>
                        <p>입관 시간은 오전 9시부터 오후 5시까지 2시간 간격으로 진행됩니다.</p>
                        <p> 오후 6시 이후 익일 오전8시 사이의 입관은 추가요금이 있습니다. </p>
                        <h5> 사망 진단서 제출</h5>
                        <p> 병사일 경우, 입관 전 반드시 사망진단서 및 사체검안서 제출하셔야 합니다. </p>
                        <p> 기타 및 불상과 외인사일 경우, 검시필증도 함께 제출하셔야 합니다.</p>
                    </div>
                    <div>
                        <h3> 성복 - 성복제(입관예배)</h3>
                        <p>입관 의식후 상복을 입고 상주됨을 표시합니다.</p>
                    </div>
                    <div>
                        <h3> 정산 </h3>
                        <ul>
                            <li> 이용료 등 각종 비용 납부 </li>
                            <li> 장의차량 배차 시간 확인 </li>
                            <li> 장지에서 사용할 용품 준비 </li>
                        </ul>
                    </div>
                </div>
            </li>

            <!-- 3일차 -->
            <li id="basicbox">
                <p class="basic_title"> 장례식장 이용안내 책자 </p>
                <p class="basic_border"></p>
                <div>
                    <h3> 발인 </h3>
                    <ul>
                        <li> 장의 차량 확인 </li>
                        <li> 발인제 및 위령제 준비(식당) </li>
                        <li> 소지품 및 장지 용품점검 </li>
                        <li> 고인 운구(운구조 편성) </li>
                        <span> 운구할 때에는 유족 한분이 직원과 동행하여 인하수인계를 하시기 바랍니다. </span>
                        <li> 발인제(발인예배) </li>
                    </ul>
                </div>
                <div>
                    <h3> 장지 </h3>
                    <ul>
                        <li> 산신제,하관 </li>
                        <li> 성분제,반혼(귀가) </li>
                    </ul>
                </div>
            </li>
        </ul>

    </main>

    <!-- Footer -->
    <footer>
        <!-- left -->
        <div id="left-footer">
            <!-- link -->
            <span class="footer-link">
                <a href="#"> 이용약관 </a> |
                <a href="#"> 개인정보처리방침 </a> |
                <a href="#"> 윤리강령 </a> |
                <a href="#"> 환자의 권리와 의무 </a> |
                <a href="#"> 이메일 무단수집거부 </a>
            </span>
            <!-- 주소 -->
            <address> [우 : 11759] 경기도 의정부시 동일로 712 의정부을지대학교병원 </address>
            <!-- copyright -->
            <p class="copyright"> Copyright ⓒ 2024 SJS All Rights Reserved. Designed by SHINJISOO. </p>
        </div>

        <!-- right -->
        <div id="right-footer">
            <!-- family site dropdown -->
            <form method="GET" action="" id="FamilySite">
                <label for="FamilySite"></label>
                <select name="FamilySite" id="FamilySite">
                    <option value="" disabled selected> Family Site 바로가기 </option>
                    <option value="euljiedu">
                        <a href="https://www.euljiedu.net/" target="_blank">
                            을지인력개발원
                        </a>
                    </option>
                    <option value="bumsuk">
                        <a href="https://www.bumsuk.or.kr/" target="_blank">
                            범석학술장학재단
                        </a>
                    </option>
                    <option value="ilhyunmuseum">
                        <a href="http://www.ilhyunmuseum.or.kr/" target="_blank">
                            일현미술관
                        </a>
                    </option>
                </select>
            </form>
        </div>
    </footer>
</body>

</html>