<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 의정부 을지대병원 장례식장 </title>
    <link rel="shortcut icon" href="/img/emc.jpg">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/sub.css">
    <link rel="stylesheet" href="/sub_process.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body>
    <div id="Wrap">
        <!-- header 영역 -->
        <%-include('header.ejs') %>


            <!-- main 영역 -->
            <main>
                <div id="title">
                    장례절차
                </div>

                <section id="processTitle">
                    <div class="processTitle processTitle01">
                        <p class="title title01"> 준비 서류 및 상주 준비사항 </p>
                        <p class="title_border title01_border"></p>
                    </div>
                    <div class="processTitle processTitle02">
                        <p class="title title02"> 유족 협조사항 </p>
                        <p class="title_border title02_border"></p>
                    </div>
                    <div class="processTitle processTitle03">
                        <p class="title title03"> 1일차 </p>
                        <p class="title_border title03_border"></p>
                    </div>
                    <div class="processTitle processTitle04">
                        <p class="title title04"> 2일차 </p>
                        <p class="title_border title04_border"></p>
                    </div>
                    <div class="processTitle processTitle05">
                        <p class="title title05"> 3일차 </p>
                        <p class="title_border title05_border"></p>
                    </div>
                </section>

                <section id="process">
                    <div class="processBox processbox01">
                        <!-- 장례 진행 시 준비사항 및 협조사항 box -->
                        <!-- 장례 준비 시 준비 서류 -->
                        <div class="smallbox box01">
                            <div id="smallbox01">
                                <p class="smallbox_title title01">
                                    < 장례 진행 시 준비 서류>
                                </p>
                                <table id="table01">
                                    <tr>
                                        <th colspan="3"> 사망 장소에 따른 준비 서류 </th>
                                    </tr>
                                    <tr>
                                        <td> 사망진단서(원내사망자) </td>
                                        <td> 사체검안서(자택 및 요양원)</td>
                                        <td> 검사지휘서(외인사 및 기타 및 불상 진단 시) </td>
                                    </tr>
                                    <tr>
                                        <th colspan="3"> 신분 확인 서류 </th>
                                    </tr>
                                    <tr class="position-title">
                                        <td> 지역주민에 한해 해당 </td>
                                        <td> 화장 시 국가유공자에 한해 해당 </td>
                                        <td> 화장 시 지역주민에 한해 해당 </td>
                                    </tr>
                                    <tr>
                                        <td> 주민등록등본 </td>
                                        <td> 국가유공자증 </td>
                                        <td>기초생활수급자증</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="smallbox02">
                                <p class="smallbox_title title02">
                                    < 유족(상주) 준비사항>
                                </p>
                                <table id="table02">
                                    <tr>
                                        <td> 가족과 장례일정 및 장례방법 논의 </td>
                                        <td> 장례용품(관, 수의) 상담 및 결정 </td>
                                        <td> 화장, 매장 결정 </td>
                                        <td> 장지결정 및 장의차량(캐딜락, 장의버스계약) </td>
                                    </tr>
                                    <tr>
                                        <td> 입관시간 결정 </td>
                                        <td> 제사상 차림 결정 </td>
                                        <td> 빈소 기본 물품 차림(식당, 편의점) </td>

                                    </tr>
                                    <tr>
                                        <td> 사망진단서 7부 이상 </td>
                                        <td> 영정사진(사진확대) </td>
                                        <td> 예복 대여 </td>
                                        <td> 제단장식(꽃집) </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="processBox processbox02">
                        <!-- 협조사항 -->
                        <div class="smallbox box02">
                            <p class="smallbox_title title03">
                                < 유족 협조사항>
                            </p>
                            <div class="smallbox-contents">
                                <h5> 장례식장은 고인의 넋을 기리는, 숭고하고 엄숙한 자리입니다.
                                    경건한 장례의식 진행을 위하여 다음 사항을 부탁드립니다.
                                </h5>
                                <i class="fa-solid fa-thumbtack"></i>
                                <p> 의정부을지대학교병원 장례식장은 전지역을 금연구역으로 지정하고 있으니 많은 협조 바랍니다. </p>
                                <i class="fa-solid fa-thumbtack"></i>
                                <p> 고인이 안치된 후 직원의 동의 없이 안치실에 출입할 수 없으며, 입관시간 외에는 시신을 다른 장소로 이동할 수 없습니다. </p>
                                <i class="fa-solid fa-thumbtack"></i>
                                <p> 장례에 소요된 모든 비용(협력업체 비용 별도계산)은 관리사무실에서 정산합니다. </p>
                                <i class="fa-solid fa-thumbtack"></i>
                                <p> 외부장의업체의 영업활동에 유의하시고, 거동이 수상한 사람은 장례식장 직원에게 신고해 주시기 바랍니다. </p>
                                <i class="fa-solid fa-thumbtack"></i>
                                <p> 귀중품 보관에 유의하시고 필요한 경우 관리사무실에 맡겨 주시기 바랍니다. </p>
                            </div>
                        </div>
                    </div>
                    <div class="processBox processbox03">
                        <div class="smallbox box03">
                            <p class="smallbox_title title04">
                                < 1일차>
                            </p>
                            <div class="oneday">
                                <div>
                                    <h3> 임종 </h3>
                                    <p>
                                        <i class="fa-solid fa-paper-plane"></i> &nbsp;
                                        본원, 자택이나 타 병원에서 돌아가신 경우 고인을 장례식장으로 모십니다.
                                        <br>
                                        <i class="fa-solid fa-paper-plane"> &nbsp; </i>
                                        고인 신분증, 영정사진 지참
                                    </p>
                                </div>
                                <div>
                                    <h3> 안치 </h3>
                                    <p>
                                        <i class="fa-solid fa-paper-plane plane"></i> &nbsp;
                                        유족들과 동행하여 장례지도사가 안치 수칙에 따라 모십니다.
                                    </p>
                                </div>
                                <div>
                                    <h3> 상담 </h3>
                                    <span> <i class="fa-solid fa-paper-plane"></i> &nbsp;
                                        빈소결정 : 유족과 조문객을 감안하여 결정합니다. </span>
                                    <p> <i class="fa-solid fa-paper-plane"></i> &nbsp;
                                        장례식장 임대차 계약서 작성
                                        <br>
                                        <i class="fa-solid fa-paper-plane"></i> &nbsp;
                                        장례용품 주문서 작성(수의, 관 등)
                                        <br>
                                        <i class="fa-solid fa-paper-plane"></i> &nbsp;
                                        이용안내 및 장례상담
                                    </p>
                                    <span> <i class="fa-solid fa-paper-plane"></i> &nbsp;
                                        고인 메이크업 상담 : 고인의 생전 모습처럼 마지막을 기억할 수 있도록 합니다. </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="processBox processbox04">
                        <div class="smallbox box04">
                            <p class="smallbox_title title05">
                                < 2일차>
                            </p>
                            <div class="twoday">
                                <div>
                                    <h3> 입관 </h3>
                                    <h5>
                                        <i class="fa-solid fa-paper-plane"></i>
                                        입관시간 확인
                                    </h5>
                                    <p>입관 시간은 오전 9시부터 오후 5시까지 2시간 간격으로 진행됩니다.
                                        <br>
                                        오후 6시 이후 익일 오전8시 사이의 입관은 추가요금이 있습니다.
                                    </p>
                                    <h5>
                                        <i class="fa-solid fa-paper-plane"></i>
                                        사망 진단서 제출
                                    </h5>
                                    <p> 병사일 경우, 입관 전 반드시 사망진단서 및 사체검안서 제출하셔야 합니다.
                                        <br>
                                        기타 및 불상과 외인사일 경우, 검시필증도 함께 제출하셔야 합니다.
                                    </p>
                                </div>
                                <div>
                                    <h3> 성복 - 성복제(입관예배) </h3>
                                    <p>
                                        <i class="fa-solid fa-paper-plane plane"></i>
                                        입관 의식 후 상복을 입고 상주됨을 표시합니다.
                                    </p>
                                </div>
                                <div>
                                    <h3> 정산 </h3>
                                    <ul>
                                        <li> <i class="fa-solid fa-paper-plane"></i>
                                            이용료 등 각종 비용 납부 </li>
                                        <li>
                                            <i class="fa-solid fa-paper-plane"></i>
                                            장의차량 배차 시간 확인
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-paper-plane"></i>
                                            장지에서 사용할 용품 준비
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="processBox processbox05">
                        <div class="smallbox box05">
                            <p class="smallbox_title title05">
                                < 3일차>
                            </p>
                            <div class="threeday">
                                <div>
                                    <h3> 발인 </h3>
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-paper-plane"></i>
                                            장의 차량 확인
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-paper-plane"></i>
                                            발인제 및 위령제 준비(식당)
                                        </li>
                                        <li> <i class="fa-solid fa-paper-plane"></i>
                                            소지품 및 장지 용품점검 </li>
                                        <li>
                                            <i class="fa-solid fa-paper-plane"></i>
                                            고인 운구(운구조 편성)
                                        </li>
                                        <p>
                                            운구할 때에는 유족 한분이 직원과 동행하여 인하수인계를 하시기 바랍니다. </p>
                                        <li> <i class="fa-solid fa-paper-plane"></i>
                                            발인제(발인예배) </li>
                                    </ul>
                                </div>
                                <div>
                                    <h3> 장지 </h3>
                                    <ul>
                                        <li> <i class="fa-solid fa-paper-plane plane"></i>
                                            산신제,하관 </li>
                                        <li>
                                            <i class="fa-solid fa-paper-plane plane"></i>
                                            성분제,반혼(귀가)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    </section>
    </main>


    <!-- footer 영역 -->
    <%-include('footer.ejs') %>
        </div>

        <script src="/js/main.js" type="text/javascript"></script>
        <script>

            // 초기 설정하기 - box01만 block으로 설정하기
            document.querySelector('.processbox01').style.display = 'block';
            // 나머지 box는 none으로 설정하기
            for (let i = 2; i <= 5; i++) {
                document.querySelector(`.processbox0${i}`).style.display = 'none';
            }

            // title 클릭할 때, 그에 맞는 box 보이도록 하기
            // 나머지 박스는 숨기기
            for (let i = 1; i <= 5; i++) {
                const box = document.querySelector(`.processbox0${i}`);
                const button = document.querySelector(`.processTitle0${i}`);

                button.addEventListener('click', function () {

                    // 나머지 박스 숨기기
                    for (let j = 1; j <= 5; j++) {
                        document.querySelector(`.processbox0${j}`).style.display = 'none';
                    }
                    // i에 해당하는 box만 보이도록 하기
                    box.style.display = 'block';
                });
            }
        </script>
</body>

</html>