<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 의정부을지대병원 장례식장 </title>
    <link rel="shortcut icon" href="/img/emc.jpg">
    <link rel="stylesheet" href="/public/sub_facilities.css">
</head>

<body>
    <!-- Header -->
    <header>
        <!-- family link -->
        <div id="FamilyLink01">
            <span>
                <a href="https://www.eulji.net/" target="_blank">을지재단</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.eulji.ac.kr/" target="_blank">을지대학교</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.eulji.or.kr/index.jsp" target="_blank">노원을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://www.emc.ac.kr/index.jsp" target="_blank">대전을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://gangnam.eulji.or.kr/index.jsp" target="_blank">강남을지대학교병원</a>
            </span>
            <span> &nbsp; | &nbsp; </span>
            <span>
                <a href="https://uemc.ac.kr/index.jsp" target="_blank">의정부을지대학교병원</a>
            </span>
        </div>

        <!-- logo -->
        <a href=""><img src="/img/logo.png" alt="EMC_LOGO" id="logo"></a>

        <!-- navbar -->
        <nav>
            <!-- 검색 기능 -->
            <div id="search">
                <input class="search">
                <button class="search-send">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </a>
                </button>
            </div>
        </nav>

        <!-- menu -->
        <div id="menu">
            <ul class="mainmenu">
                <li> <a href="#"> 장례식장 소개 </a>
                    <ul class="submenu">
                        <li><a href="#"> 장례식장 소개</a></li>
                        <li><a href="#"> 장례지도사 소개</a></li>
                        <li><a href="#"> 오시는 길</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"> 장례 이용절차 </a>
                    <ul class="submenu">
                        <li><a href="#"> 장례절차</a></li>
                        <li><a href="#"> 장례서비스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"> 빈소현황 및 조문 </a>
                    <ul class="submenu">
                        <li><a href="#"> 빈소현황 </a></li>
                        <li><a href="#"> 조문하기 </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"> 감사인사 및 문의 </a>
                    <ul class="submenu">
                        <li><a href="#"> 감사인사 전하기 </a></li>
                        <li><a href="#"> 문의하기 </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <!-- Main -->
    <main>
        <div id="title">
            오시는 길
        </div>

        <section>
            <div id="map">
                <div class="map"></div>
            </div>

            <div id="trafficpark">
                <div id="traffic">
                    <p class="traffic_title"> 교통편 안내 </p>
                    <p class="facilities_border"></p>
                    <div class="traffic_content01">
                        <p> 지하철 </p>
                        <span style="background-color: #0d347f; color:white"> 1호선 </span>
                        <span> &nbsp; 가능역 2번 출구 (도보 10분 거리)</span>
                        <br>
                        <span style="background-color: #2985db; color:white"> 경전철 </span>
                        <span> &nbsp; 동오역 2번 출구 (도보 15분 거리) </span>
                    </div>
                    <div class="traffic_content02">
                        <p> 버스 </p>
                        <div class="bus01">
                            <p> 의정부을지대학교병원 </p>
                            <span> 지선버스 34, 56</span>
                            <br>
                            <span> 마을버스  </span>
                            <br>
                            <span>201-1, 203-2, 205 </span>
                            <br>
                            <span> 205-1, 206-3, 207-1, 208-1 </span>
                        </div>
                        <div class="bus02">
                            <p> 경기도교육청북부청사 </p>
                            <span> 지선버스 25-1, 25-2</span>
                            <br>
                            <span> 마을버스 12 </span>
                            <br>
                            <span> 시외버스 3700 </span>
                        </div>
                    </div>
                </div>

                <div id="park">
                    <p class="traffic_title"> 주차장 안내 </p>
                    <p class="facilities_border"></p>
                    <div class="park"></div>
                    <div class="park_content">
                        <p> 상주 차량 </p>
                        <p> 특실 1~3호 : 5대 무료 </p>
                        <p> 일반실 5~12호 : 2대 무료 </p>
                        <p> 조문객 차량 </p>
                        <p>기본료 2,000원 부과 이후 10분당 500원
                            <br> (단, 30분 이내 출차시 무료)</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <!-- left -->
        <div id="left-footer">
            <!-- link -->
            <span class="footer-link">
                <a href="#"> 이용약관 </a> |
                <a href="#"> 개인정보처리방침 </a> |
                <a href="#"> 윤리강령 </a> |
                <a href="#"> 환자의 권리와 의무 </a> |
                <a href="#"> 이메일 무단수집거부 </a>
            </span>
            <!-- 주소 -->
            <address> [우 : 11759] 경기도 의정부시 동일로 712 의정부을지대학교병원 </address>
            <!-- copyright -->
            <p class="copyright"> Copyright ⓒ 2024 SJS All Rights Reserved. Designed by SHINJISOO. </p>
        </div>

        <!-- right -->
        <div id="right-footer">
            <!-- family site dropdown -->
            <form method="GET" action="" id="FamilySite">
                <label for="FamilySite"></label>
                <select name="FamilySite" id="FamilySite">
                    <option value="" disabled selected> Family Site 바로가기 </option>
                    <option value="euljiedu">
                        <a href="https://www.euljiedu.net/" target="_blank">
                            을지인력개발원
                        </a>
                    </option>
                    <option value="bumsuk">
                        <a href="https://www.bumsuk.or.kr/" target="_blank">
                            범석학술장학재단
                        </a>
                    </option>
                    <option value="ilhyunmuseum">
                        <a href="http://www.ilhyunmuseum.or.kr/" target="_blank">
                            일현미술관
                        </a>
                    </option>
                </select>
            </form>
        </div>
    </footer>
</body>

</html>