@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #3e3e3e;
    font-family: 'SUIT-Regular'
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
header {
    width: 1920px;
    height: 260px;
}

#FamilyLink01 {
    width: 1000px;
    height: 30px;
    margin-left: 30px;
    padding-top: 20px;
    box-sizing: border-box;
}

#FamilyLink01 a {
    color: #7d7d7d;
}

#FamilyLink01 a:hover {
    color: #94adc5;
}

#logo {
    width: 420px;
    margin: 80px 15px;
}

nav {
    width: 300px;
    height: 80px;
    text-align: center;
    float: right;
    margin-top: 115px;
    position: relative;
}

.search {
    width: 200px;
    border: solid .5px #6a5d55;
    height: 27px;
    position: absolute;
    right: 80px;
}

.search-send {
    width: 28px;
    height: 28px;
    border: none;
    background: none;
    position: absolute;
    right: 50px;
}

/* menu */
#menu {
    width: 1920px;
    height: 40px;
    position: absolute;
    top: 210px;
    font-weight: 600;
    border-bottom: #6a5d55 0.5px solid;
}

.mainmenu li {
    width: 250px;
    height: 40px;
    float: left;
    width: 24.5%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.mainmenu a {
    width: 100%;
    display: block;
}

.submenu {
    display: none;
}

.submenu li {
    width: 100%;
    height: 60px;
}

.submenu li:nth-of-type(1) {
    margin-top: 20px;
}

.mainmenu li:hover .submenu {
    display: block;
}


/* main */
main {
    width: 1920px;
    height: 800px;
}

#title {
    width: 260px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    background-color: #5b7d9b;
    border-radius: 15px;
    color: white;
    margin: 40px 0 10px 30px;
    font-size: 16px;
    font-weight: 600;
}

section {
    position: relative;
}

#map {
    width: 900px;
    height: 700px;
    background-color: #6a5d55;
    position: absolute;
    left: 30px;
    top: 20px;
}

.map {
    width: 850px;
    height: 500px;
    background-color: #5b7d9b;
    margin: 23px;
}

#trafficpark {
    width: 850px;
    height: 700px;
    position: absolute;
    right: 100px;
    top: 20px;
}

.traffic_title {
    font-size: 21px;
    margin: 20px 20px 10px 20px;
    text-align: center;
    font-weight: 600;
}

.facilities_border {
    width: 160px;
    border: #5b7d9b 0.5px solid;
    margin-left: 345px;
}

#traffic{
    height: 240px;
    font-weight: bold;
}

.traffic_content01 {
    position: absolute;
    left: 50px;
    top: 90px;
    font-size: 16px;
    line-height: 30px;
}

.traffic_content01>p {
    font-weight: bold;
    color: #6a5d55;
}

.traffic_content02 {
    width: 450px;
    position: absolute;
    left: 350px;
    top: 90px;
    font-size: 16px;
    line-height: 30px;
}

.traffic_content02>p {
    color: #6a5d55;
    font-weight: bold;

}

.bus01>p {
    color: #5b7d9b;
    font-weight: bold;
}

.bus02>p {
    color: #5b7d9b;
    font-weight: bold;
}

.bus02 {
    position: absolute;
    left: 280px;
    top: 28.5px;

}

#park{
    height: 450px;
    margin-top: 35px;
}

#park>p:nth-child(1) {
    position: absolute;
    right: 80px;
    top: 330px;
}

#park> p:nth-child(2) {
    position: absolute;
    right: 65px;
    bottom: 310px;
}

.park {
    width: 450px;
    height: 333px;
    margin: 30px;
    position: absolute;
    background-color: #5b7d9b;
}

.park_content {
    position: absolute;
    right: 0;
    bottom: 70px;
    line-height: 30px;
    font-weight: 600;
}

.park_content> p:nth-of-type(1), p:nth-of-type(4) {
    font-size: 16px;
    color: #6a5d55;
}

/* footer */
footer {
    width: 1920px;
    height: 150px;
    background-color: #6a5d55;
    font-size: 14px;
    color: white;
}

#left-footer {
    width: 45%;
    height: 80%;
    float: left;
    margin: 20px 0 0 250px;
    line-height: 35px;
}

.footer-link a:hover {
    color: #94adc5;
}

#right-footer {
    width: 15%;
    height: 80%;
    float: right;
    margin-top: 55px;
    margin-right: 70px;
    text-align: center;
}

#FamilySite {
    width: 100%;
    height: 55%;
    border-radius: 10px;
    font-size: 12px;
    padding-left: 12px;
    box-sizing: border-box;
}